.Container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #FAFAFA;
}
.Logo{
	margin-top: 80px;
}

.Icon{
	margin: 80px 0 30px 0;
}

.Icon span{
	color: #3928A6;
	font-size: 30px;
	margin-right: 20px;
	margin-bottom: 0;
}

.Copy{
	margin-bottom: 80px;
}